.content-feedback {
  &__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 16px;
  }
  &__text {
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 23px;
    padding: 0 15px;
    color: #333;
  }
}

@media #{$tablet-width} {}
@media #{$desktop-width} {}
