.footer-social {
    margin: 38px auto 38px auto;
    width: 180px;
    display: block;
    padding: 0;

  &__item {
    display: inline-block;
    list-style: none;
    margin-right: 2px;
  }
  &__link {
    display: block;
    padding: 24px 23px;
    background: url("../img/icon-facebook.svg") no-repeat center #81B3D2;
  }
}

@media #{$tablet-width} {
  .footer-social {
    float: left;
    margin-left: 40px;
  }
}
@media #{$desktop-width} {
  .footer-social {
    margin-left: 75px;
  }
}



