.footer-copyright {
    width: 200px;
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    display: block;
    vertical-align: top;
    outline: 1px solid red;
}

@media #{$tablet-width} {
  .footer-copyright {
    float: left;
    margin: 51px 50px;
    width: 89px;
  }
}
@media #{$desktop-width} {
  .footer-copyright {
    margin: 51px 0px 51px 280px;
    padding: 0;
  }
}
