  .header {
    background: url("../img/logo-sedona-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 252px;
  }

.header-bg {
      background: url("../img/text-sedona-index.svg") no-repeat center,
      $bg-darkgrey url("../img/bg-back-mobile.jpg") no-repeat;
       width: 320px;
  height: 158px;
  margin-bottom: 46px;
  padding:0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 40px;
}
