  .header {
    background: url("../img/logo-sedona-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 252px;
  }

@media #{$tablet-width} {}
@media #{$desktop-width} {}




