.main-nav {
  margin:0;
  margin-bottom: 56px;
  padding-left: 0;
  text-align: center;

  &__link {
    width: 320px;
    display: block;
    padding: 19px 0px;
    background: $primary-color;
    border-bottom: 1px solid #6A92AB;
    border-top: 1px solid #94BED9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
  &__link:hover {
    background: #00B3D2;
    transition: all 0.4s;
  }

  &__item {
    list-style: none;
  }
}

@media #{$tablet-width} {
  .main-nav {
    margin:0;
    &__item {
      display: inline-block;
    }
    &__item:nth-child(2) {
      margin-right: 143px;
    }
    &__link {
      width: 153px;
      color: #000000;
      background:none;
      border: none;
      font-size: 14px;
    }
    &__link:hover {
      color: #65B4D4;
      background: none;
      transition: all 0.3s;
    }
  }
}

@media #{$desktop-width} {

  .main-nav {
    &__item:nth-child(2) {
      margin-right: 271px;
    }
    &__link {
      padding: 17px 10px 17px 10px;
      margin-right: 33px;
    }
  }
}
