.main-nav {
  margin-bottom: 56px;
  padding-left: 0;
  text-align: center;

&__link {
  width: 320px;
  display: block;

  padding: 19px 0px;
  background: $primary-color;
  border-bottom: 1px solid #6A92AB;
  border-top: 1px solid #94BED9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

&__item {

  list-style: none;
}

}
