.main-nav {
  outline: 1px solid red;
  margin-bottom: 56px;
  padding-left: 0;
  text-align: center;

&__link {
  width: 320px;
  display: block;
  outline: 1px solid red;
  padding: 19px 0px;
}

&__item {
  outline: 1px solid blue;
  list-style: none;
}

}
