.reasons-description {
    &__title {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 0px 25px;
   }
  &__text {
    font-size: 14px;
    text-transform: uppercase;
    padding: 15px 30px 0px 30px;
    text-align: center;
    line-height: 26px;
  }
}

@media #{$tablet-width} {
  .reasons-description {
    &__title {
      font-size: 21px;
      line-height: 26px;
      padding: 0px 90px;
    }
  }
}
@media #{$desktop-width} {}
