 .reason {
  margin: 0;
  color: #000;
  &__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 15px;
    color: 000;
    &--title{
      padding-left: 70px;
      padding-top: 8px;
      position: relative;
    }
    &--title:before {
      content: '';
      background: url("../img/icon-house.svg");
      background-size: cover;
      width: 40px;
      height: 40px;
      position: absolute;
      left: 15px;
      top: 0px;
    }
    &--title-two:before {
      content: '';
      background: url("../img/icon-gift.svg");
      background-size: cover;
      width: 40px;
      height: 48px;
      position: absolute;
      left: 15px;
      top: -8px;
    }
    &--title-third:before {
      content: '';
      background: url("../img/icon-burger.svg");
      background-size: cover;
      width: 45px;
      height: 40px;
      position: absolute;
      left: 15px;
      top: -3px;
    }
  }
  &__number {
    display: block;
    text-align: center;
  }
  &__text {
    text-align: center;
    margin:0;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    padding: 15px 32px 30px 32px;
    &--text {
      padding-left: 70px;
      font-size: 14px;
      text-transform: uppercase;
      line-height: 21px;
    }

  }
  &--blue {
    background: #81B3D2;
    color: white;
    margin:0;
    text-align: center;
  }
  &--invert {
    background: #81B3D2;
    color: white;
    text-align: center;
    padding: 0;
  }
  &--icon:last-child {
    padding-bottom: 25px;
  }
}

@media #{$tablet-width} {
  .reason-row {
  &--gray {
    background: #EEEEEE;
  }
}
  .reason {
    width: 33.3%;
    float: left;

     &--invert {
      float: right;

     }

    &__title {


      font-weight: bold;
      font-size: 21px;

      padding: 45px 53px 15px 53px;

      &--title {
        font-size: 21px;
        padding: 138px 0 0 0;
        text-transform: uppercase;
        position: relative;
      }
        &--title:before {
      content: '';
      background: url("../img/icon-house.svg");
      background-size: cover;
      width: 80px;
      height: 80px;
      position: absolute;
      left: 85px;
      top: 20px;
    }
    &--title-two:before {
      content: '';
      background: url("../img/icon-gift.svg");
      background-size: cover;
      width: 80px;
      height: 95px;
      position: absolute;
      left: 88px;
      top: 5px;
    }
    &--title-third:before {
      content: '';
      background: url("../img/icon-burger.svg");
      background-size: cover;
      width: 88px;
      height: 80px;
      position: absolute;
      left: 80px;
      top: 20px;
    }
    }

      &__text {
        padding: 20px 45px 39px 45px;
        &--text {
        padding: 0 50px 0px 50px;
        }
        &--align {
          padding: 0px 40px 0px 40px;
        }
      }

    &--blue {
      &__title {

      }

    }

    &--icon {


      text-align: center;
    }
    &--icon:last-child {
      padding: 0;
    }
  }
}

@media #{$desktop-width} {

.reason-row {
  &--gray {
    background: #EEEEEE;
  }
}
  .reason {
    &__title {
      padding: 52px 0px 10px 0px;
      letter-spacing: 0.5px;
      margin: 0 122px;
      &--title:before {
      content: '';
      background: url("../img/icon-house.svg");
      background-size: cover;
      width: 80px;
      height: 80px;
      position: absolute;
      left: 157px;
      top: 20px;
    }
    &--title-two:before {
      content: '';
      background: url("../img/icon-gift.svg");
      background-size: cover;
      width: 80px;
      height: 95px;
      position: absolute;
      left: 160px;
      top: 5px;
    }
    &--title-third:before {
      content: '';
      background: url("../img/icon-burger.svg");
      background-size: cover;
      width: 88px;
      height: 80px;
      position: absolute;
      left: 152px;
      top: 20px;
    }
    }
    &__text {
      padding: 24px 48px 56px 48px;
      &--align {
      padding: 24px 75px;
      }
      &--align-center {
        padding: 24px 55px;
      }
      &--text {
        padding: 0 50px 67px 50px;
      }
    }

    &__number {
      text-transform: uppercase;
      font-size: 14px;
    }
  }

}

