.reasons-row {

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &--image {

  }
}

@media #{$tablet-width} {
  .reasons-row {
    &--image {
      background-color: blue;
    }
  }
}
@media #{$desktop-width} {}


