@media #{$mobile-width} {
    .reason-image {
    height: 256px;
    background: url("../img/photo-city.jpg");
    background-size: cover;
}
  .reason-image-two {
     height: 256px;
    background: url("../img/photo-bridge.jpg");
    background-size: cover;
  }

}


@media #{$tablet-width} {
 .reason-image {
   width: 66.7%;
    float: right;


   &--invert {
    float: left;

  }
 }
   .reason-image-two {
     height: 256px;
    background: url("../img/photo-bridge.jpg");
    background-size: cover;
  }
}


@media #{$desktop-width} {
  .reason-image {
    height: 256px;
    background: url("../img/photo-city@2x.jpg");
    background-size: cover;
  }
  .reason-image-two {
    height: 256px;
    background: url("../img/photo-bridge@2x.jpg");
    background-size: cover;
  }
}
