.reasons-row {

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &--image {

  }
}

@media #{$tablet-width} {
  .reasons-row {
    &--image {
      background: url("../img/photo-city@2x.jpg");
      background-size: cover;
      height: 256px;
    }
  }
}
@media #{$desktop-width} {}


