.reasons-search {
 outline: 3px solid blue;

&__link {
  text-align:center;
  padding: 19px 81px;
  background: #65B4D4;
  margin-left:20px;

}

&__map {
  outline: 1px solid red;
  margin-top:69px;
}








}
