.video-input {
  height: 66px;
  background: #F2F2F2;
  &__button {
      &--update {
      background: url("../img/icon-video-replay.svg") no-repeat ;
      width: 19px;
      height: 21px;
      border: none;
      cursor: pointer;
      margin-left: 23px;
      margin-top: 23px;
      opacity: 0.5;
      outline: none;
    }
     &--cc {
       background: url("../img/icon-video-subtitles.svg") no-repeat;
      width: 32px;
      height: 20px;
      border: none;
      cursor: pointer;
      margin-top: 23px;
      opacity: 0.8;
      margin-left: 130px;
      outline: none;
    }
     &--size {
      background: url("../img/icon-video-fullscreen.svg") no-repeat center;
      width: 22px;
      height: 22px;
      border: none;
      cursor: pointer;
      float: right;
      margin-right: 23px;
      margin-top: 23px;
      opacity: 0.8;
      outline: none;
    }
  }



}
